* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
}

main {
  height: calc(100vh - 63px);
  overflow-y: auto;
}
