.background {
  box-shadow: 0 0 5px 1px grey;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      list-style: none;
      align-items: center;

      li {
        
        margin-left: 20px;

        a {
          padding: 0 5px;
          transition: opacity 150ms;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
